<section class="text-white my-5">
    <div class="container">
        <article class="text-center pt-5">
            <app-child>
                <h2 class="text-uppercase fw-bold">about component</h2>
            </app-child>
            <app-line></app-line>
        </article>
        <div class="row">
            <div class="col-6">
                <p class="p-5">
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </p>
            </div>
            <div class="col-6">
                <p class="p-5">
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </p>
            </div>
        </div>
    </div>
</section>