p{
    i{
        /* color: white; */
    }
    position: relative;
    &::before{
        content: "";
        color: inherit;
        position: absolute;
        border-top: 0.25rem solid;
        width: 6.25rem;
        right: 52%;
        top: 50%;
    }
    &::after{
        content: "";
        color: inherit;
        position: absolute;
        border-top: 0.25rem solid ;
        width: 6.25rem;
        left: 52%;
        top: 50%;
    }
}