 <section class="py-5">
    <div class="container">
                <div class="mb-5 text-center text-white">
                    <figure class="w-25 m-auto">
                        <img class="img-fluid mb-2" src="/images/avataaars.svg" alt="carton Human Picture">
                    </figure>
                    <app-child>
                        <h1 class="text-uppercase">start Framework</h1>
                    </app-child>
                    <app-line></app-line>
                    <p>Graphic Artist - Web Designer - Illustrator</p>
                </div>
           
        
    </div>
</section> 

